{% extends "base.html" %} {% block title %}Add new Category{% endblock %}{%
block logout %}
<a
  class="nav-item nav-link"
  style="float: left; color: rgb(255, 215, 0)"
  href="/logout"
  >Logout</a
><a
  class="nav-item nav-link"
  style="float: left; color: rgb(160, 82, 45)"
  href="/delete"
  >Delete MyAccount</a
>{% endblock %} {% block content %}
<h5>
  <span style="float: left">{{ name }}'s Create Category</span>
</h5>
<h6>
  <span style="float: right"
    ><a href="/manager_dash">Go Back to Dashboard</a></span
  >
  <span style="float: right"> |</span>
</h6>

<!-- <span style="float: right"><a href="/logout">Logout</a></span> -->

<br />
<hr />
<div><h3>Add Category</h3></div>
<form
  action="/manager_dash/category_create"
  method="POST"
  style="text-align: center"
>
  <label for="cname">Category name:</label>
  <input type="text" id="cname" name="cname1" accept="text/plain" /><br />
  <div style="margin-top: 20px">
    <input class="btn btn-success" type="submit" value="Save" />
  </div>
</form>
{% endblock %}
