{% extends "base.html" %} {% block title %}Add New Product{% endblock %}{% block
logout %}
<span
              id="logout"
              style="display: block inline-block; width: 600px"
            >
              <span style="margin: auto"
                ><i
                  ><a
                    class="nav-item nav-link"
                    style="float: left; color: rgb(255, 215, 0)"
                    href="/logout"
                    style="display: block; width: 10%; margin-left: 0px"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-box-arrow-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                      /></svg
                    >Logout</a
                  ></i
                ></span
              ><span style="margin: auto"
                ><a
                  class="nav-item nav-link"
                  style="
                    float: left;
                    color: rgb(160, 82, 45);
                    width: 60%;
                    margin-left: 20px;
                  "
                  href="/delete_account/{{id}}"
                  onclick="return confirm('Are you sure you want to delete the account?');"
                  >Delete MyAccount</a
                ></span
              ></span
            >
{% endblock %} {% block content %}
<h5>
  <span style="float: left" style="font-size:2vw;">{{ name }}'s Category </span>
</h5>
<h6>
  <span style="float: right"
    ><button type="button" class="btn btn-dark"><a href="{{ url_for('views.Dash_manager') }}" style="color: rgb(216, 249, 1);text-decoration: none;font-size:1.5vw;">Go Back</a></button></span
  >
  <!-- <span style="float: right" style="font-size: 10px">I</span> -->
</h6>

<!-- <span style="float: right"><a href="/logout">Logout</a></span> -->

<br />
<hr />
<div><h4 style="font-size:2.5vw;">Add Product</h4></div>
<form
  action="/manager_dash/category_create/{{ variable }}"
  method="POST"
  
  style="text-align: center"
>
<!-- style="margin: auto; padding: 30px 30px" -->
<table class="center">
  <tr colspan="2">
  <div align="center"style="padding: 5px;">
    <td><strong><label for="pname" align="center" style="font-size:1.9vw;">Product name:</label></strong></td>
    <td><input type="text" id="pname" name="pname1" accept="utf-8" required/></td><br />
  </div></tr>
  <!-- style="width:30%;margin: auto;padding: 20px 40px" -->
  <tr colspan="2"><div class="input-group mb-3"  align="center"  align = "center">
  <td><div class="input-group-prepend" style="text-align: center;padding:1px 10px;">
    <!-- style="padding: 1px 27px " -->
      <strong><label for="mname" style="font-size:2vw;" >Metric:</label></strong>
      <!-- <input type="text" id="mname" accept="utf-8" size="5" />   -->
    </div></td><td>
    <select class="custom-select" style="font-size:1.7vw" id="mname" name="mname1" required>
      <option selected value="">unit</option>
      <option value="Kg">Kg</option>
      <option value="Litre">Litre</option>
      <option value="Metre">Metre</option>
      <option value="gram">gram</option>
      <option value="Dozen">Dozen</option>  
    </select>
  </div></td></tr>
  <!-- style="width:30%;margin: auto;padding: 20px 40px" -->
  <tr colspan="2"><div class="input-group mb-3" align="center"  style="padding:1px 10px;">
    <td><div class="input-group-prepend">
      <!-- style="width:50%;padding: 10px 33px" -->
    <strong><label for="rname" style="font-size:2vw" >Rate:</label></strong></td>
      <!-- style="margin: auto;padding: 2px 3px" -->
    <td><input type="number" id="rname" name="rname1" required   />  
    </div>
    <select class="custom-select" style="font-size:1.7vw;" id="pname" name="prname1" required>
      <option selected value="">per unit</option>
      <option value="Rs/Kg">Rs/Kg</option>
      <option value="Rs/Litre">Rs/Litre</option>
      <option value="Rs/Metre">Rs/Metre</option>
      <option value="Rs/gram">Rs/gram</option>
      <option value="Rs/Dozen">Rs/Dozen</option>  
    </select></td>
  </div></tr>
  <tr colspan="2">
    <!-- style="width:100%;margin: auto;padding: 20px 40px" -->
  <div align="center" style="padding:1px 10px;">
    <!-- style="width:10%;" -->
  <td><strong><label for="sname"  style="font-size:2vw">Total Stock:</label></strong></td> 
  <!-- style="width:10%;" -->
  <td><input type="number"   id="sname" name="sname1" accept="utf-8" required/></td><br />
  </div>
  <tr>
  <div style="margin-top: 20px">
  <td><input class="btn btn-success btn-lg" style="margin-left: 100%;"type="submit" value="Save" />
  </div></td></tr>
</form>
</table>
{% endblock %}
