{% extends "store_base.html" %} {% block title %}Product Store{% endblock %}{% block
    logout %}
    <span
                  id="logout"
                  style="display: block inline-block; width: 600px"
                >
                  <span style="margin: auto"
                    ><i
                      ><a
                        class="nav-item nav-link"
                        style="float: left; color: rgb(255, 215, 0)"
                        href="/logout"
                        style="display: block; width: 10%; margin-left: 0px"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-box-arrow-right"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                          /></svg
                        >Logout</a
                      ></i
                    ></span
                  ><span style="margin: auto"
                    ><a
                      class="nav-item nav-link"
                      style="
                        float: left;
                        color: rgb(160, 82, 45);
                        width: 60%;
                        margin-left: 20px;
                      "
                      href="/delete_account/{{id}}"
                      onclick="return confirm('Are you sure you want to delete the account?');"
                      >Delete MyAccount</a
                    ></span
                  ></span
                >
    {% endblock %}
    {% block cart %}<
    span style="margin: auto"
     ><a
       class="nav-item nav-link"
       style="
         float: right;
         color: rgb(34, 2, 247);
         width: 40%;
         font-size: 1.5rem;
         margin-right: 20px;
       "
       href="/store/cart"
       >Cart<i
         class="bi bi-cart4"
         style="
           font-size: 1.5rem;
           -webkit-text-stroke-width: 1px;
           color: rgb(103, 241, 133);
           width: 10%;
         "
       ></i
       ><span
       STYLE="font-family:'Verdana';margin-left :5px;color:whitesmoke"
       class="badge badge-light"
     >3</span></a
   ></span> {% endblock %}{% block content %}<section>
    <h5>
      <span style="float: left">{{ name }}'s Catalogue </span>
    </h5>
    <h6>
      <span style="float: right"
        ><a class="btn btn-dark" style="color: rgb(216, 249, 1); font-size: 1.5vw;text-decoration: none;" href="{{ url_for('views.Store_front') }}">Back to Store</a></span
      >
    
    </h6>
    
    <!-- <span style="float: right"><a href="/logout">Logout</a></span> -->
    
    <br />
    <hr /></section>
    <section>
    {% if products|length == 0 %}
      <div class="alert alert-warning" role="alert">
        <p>No Product found.</p>
      </div>
      {% else %}
      <div>
        <span>
      <button type="button" STYLE="font-family:'Verdana',margin-left = 5px;"class="btn btn-secondary">
        Total Products <span STYLE="font-family:'Verdana';margin-left :5px;" class="badge badge-light">{{ products|length }}</span>  
      </button>
    <!-- </span><span STYLE="margin-left: 5px;"><button type="button" STYLE="font-family:'Verdana',margin-left = 5px;"class="btn btn-secondary">
        Products In stock <span STYLE="font-family:'Verdana';margin-left : 5px;" class="badge badge-light">{{ product_instock }}</span>  
      </button></span> -->
      <span><button type="button" STYLE="font-family:'Verdana',margin-left = 5px;"class="btn btn-secondary">
        Out of stock <span STYLE="font-family:'Verdana';margin-left : 10px" class="badge badge-light">{{ products|length - product_instock }}</span>  
      </button></span>
      </div><div>
      <form id="addtocart"
      
      method="POST"><table
      class="table table-hover"
        style="
          border: 5px solid rgb(255, 225, 0);
          width: 90%;
        "
      ><thead class="thead-dark">
        <tr align="center" style="border-bottom: 2px solid black">
          <th
            style="
              padding: 10px 10px;
              width: 5%;
              border-right: 3px solid rgb(3, 33, 31);
            "
          >
            Id
          </th>
          <th
            style="
              border-right: 3px solid rgb(3, 33, 31);
    
              padding: 10px 10px;
              width: 40%;
            "
          >
            Product Name
          </th>
          <th
            style="
              border-right: 3px solid rgb(3, 33, 31);
    
              padding: 10px 10px;
              width: 15%;
            "
          >
            Price
          </th>
          <th
            style="
              border-right: 3px solid rgb(3, 33, 31);
    
              padding: 10px 10px;
              width: 15%;
            "
          >
            Availability
          </th>
          <th 
            style="
              border-right: 3px solid rgb(3, 33, 31);
    
              padding: 10px 10px;
              width: 7%;
            "
          >
            Qty.
          </th>
    
          <th style=" padding: 10px 10px; width: 50%" >
            Actions
          </th>
        </tr></thead>
        {% for variety in products %}
        <tbody>
         
        <tr align="center" style="width: 100%">
          <td style="padding: 10px; border-right: 3px solid rgb(3, 33, 31)" >
          <input type="hidden" id='product_id' name="product_id" value="{{ variety.product_id }}" form="addtocart" formaction="/store/{{ name }}/products" />
          
            {{ variety.product_id }}
          </td>
          <td
            style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)"
          ><a class="btn btn-success"
          style="color: rgb(16, 246, 227);text-decoration: none;font-size: 1.3em"
          href=""
          >{{ variety.product_Name }}</a
          >
            
          </td>
          <td
            style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)"
          >
            <strong
              >&#8377;{{ variety.rate}} 
              </strong
            >
          </td>
          {% if variety.stock == 0 %}
          <td class="table-danger"
            style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)"
          >
            <strong
              > Out of Stock
              </strong
            >
          </td>
          {% else %}
          <td 
            style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)"
            bgcolor="rgb(3, 33, 31)"
          >
            <strong
              >In Stock
              </strong
            >
          </td>
          {% endif %}
          {% if variety.stock == 0 %}
          <td  style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)">
            <input class='form-control' type="number" name="qty" min='0' max="{{ variety.stock }}" form="addtocart" formaction="/store/{{ name }}/products" size="30" disabled/><em>{{ variety.metric_Unit }}</em></td>
          <td ><a class="btn btn-dark btn-sm" style="width:51%;color:rgb(202, 246, 5);font-size: 0.9em" disabled href=""
              >Add To Cart</a
            ></td>
          {% else %}
            <td  style=" padding: 5px; border-right: 3px solid rgb(3, 33, 31)">
              <input class='form-control' type="number" name="qty"  min="0" max="{{ variety.stock }}" form="addtocart" formaction="/store/{{ name }}/products" size="30" /><em>{{ variety.metric_Unit }}</em></td>
            <td >
            <a class="btn btn-dark btn-sm" style="width:51%;color:rgb(202, 246, 5);font-size: 0.9em"  onclick="document.getElementById('addtocart').submit(); return false;" href="/store/{{ name }}/products"
              >Add to Cart</a
            >
          </td>{% endif %}
        </tr></tbody>
        {% endfor %}
      </table></form>
    
      <br></br> 
    
      {% endif %}
    </div></section>
    {% endblock %}
    
    
    